<% include partials/header %>

<% include partials/menu %>
<div class="container-fluid bg-3 text-center">
  <h3><%= title %></h3>
  <p>Hello World IFCA!</p>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-3 sidebar">
      <ul>
        <h2>Sidebars</h2>
        <li>First</li>
        <li>Second</li>
        <li>Third</li>
      </ul>
    </div>
  </div>
</div>

<% include partials/footer %>
